@font-face {
	/* font weight 400 */
	font-family: ObjectSansRegular;
	src: url('./assets/fonts/ObjectSans-Regular.otf');
}

@font-face {
	/* font weight 500 */
	font-family: ObjectSansBold;
	src: url('./assets/fonts/ObjectSans-Heavy.otf');
}

:root {
	--color-primary: #ffc947;
	--color-secondary: #185adb;
	--color-dark-blue: #0a1931;
	--color-white: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: ObjectSansRegular;
}

::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #ffc947;
}

@media (max-width: 450px) {
	.MenuIcon {
		width: 30px;
		height: 30px;
	}
}
@media (max-width: 470px) {
	.btn_container {
		flex-wrap: nowrap !important;
	}
}
